body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #333;
}
h1 {
    color: #ffffff;
    font-size: 2em;
    text-align: center;
    font: 700 2em 'Roboto', sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    height: 60px;
    position: relative;
}
.task {
    width: 100px;
    height: 110px;
    background-color: #906a6a;
    position: relative;
    margin: 20px auto;
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 55px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
